
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.background {
  height: 100vh;
  width: 100%;
  background: url(https://i.imgur.com/WK5SWWc.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  animation: driving 40s linear infinite;
}

.cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40vh;
  position: relative;
  z-index: 10;
}

.car {
  position: absolute;
  left: 2%;
  top: 10vh;
  width: 20vw;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, top 1s ease-in-out;
  animation: showCar 1s forwards;
  animation-delay: 1s;
}

.motorbike {
  position: absolute;
  left: 75%;
  top: 10vh;
  width: 20vw;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, top 1s ease-in-out;
  animation: showMotorbike 1s forwards;
  animation-delay: 1s;
}

@media (max-width: 600px) {
  .modal {
    font-size: 11px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

.cont {
  height: 20vh;
}
  .car {
    left: 5%;
    width: 45vw;
    top: 20vh;
  }

  .motorbike {
    left: 50%;
    width: 40vw;
    top: 20vh;
  }
}


@media (min-width: 1200px) {
  .car {
    left: 1%;
    width: 13vw;
    top: 5vh;
  }
  .motorbike {
    left: 80%;
    width: 14vw;
    top: 5vh;
  }
}
.logo2 {
  width: 220px;
  height: 120px;
  margin-left: 50px;
}
/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}


/* Animaciones */
@keyframes driving {
  from { background-position: bottom left; }
  to { background-position: bottom right; }
}
@keyframes showCar {
  to {
    opacity: 1;
    visibility: visible;
    top: 70vh;
  }
}

@keyframes showMotorbike {
  to {
    opacity: 1;
    visibility: visible;
    top: 77vh;
  }

}
.placa{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 251, 0);
  width: 250px;
  height: 130px;
  border-radius: 10px;
  border: 3px solid black;
}
.placa p{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1rem;
}
.inputplaca {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  background-color: #38bdf8;
}
.inputplaca::placeholder {
  color: #000000;  
  font-size: 1.5rem;
  font-weight: bold;
}
