
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.background {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: url(https://i.imgur.com/WK5SWWc.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0; /* Comienza invisible */
  animation: fadeIn 2s ease-in-out forwards, driving 45s linear infinite;
}
.container{
  background-color: aliceblue;
  width: 100%;
  padding: 10px;
}
.cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40vh;
  position: relative;
  z-index: 10;
}

.car {
  position: absolute;
  left: 2%;
  top: 10vh;
  width: 20vw;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, top 1s ease-in-out;
  animation: showCar 1s forwards;
  animation-delay: 1s;
}

.motorbike {
  position: absolute;
  left: 75%;
  top: 10vh;
  width: 20vw;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, top 1s ease-in-out;
  animation: showMotorbike 1s forwards;
  animation-delay: 1s;
}

.logo2 {
  width: 220px;
  height: 120px;
  margin-left: 50px;
}

@media (max-width: 600px) {
  .cont{
    justify-content: center;
  }
.logo2 {
  margin-left: 0px;
}
  .modal {
    font-size: 11px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }


  .car {
    left: 5%;
    width: 45vw;
    top: 20vh;
  }

  .motorbike {
    left: 50%;
    width: 40vw;
    top: 20vh;
  }
}


@media (min-width: 1200px) {

  .car {
    left: 1%;
    width: 13vw;
    top: 5vh;
  }
  .motorbike {
    left: 80%;
    width: 14vw;
    top: 5vh;
  }
}
/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}


/* Animaciones */
/* Animación para la opacidad */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes driving {
  from { background-position: bottom left; }
  to { background-position: bottom right; }
}
@keyframes showCar {
  to {
    opacity: 1;
    visibility: visible;
    top: 70vh;
  }
}

@keyframes showMotorbike {
  to {
    opacity: 1;
    visibility: visible;
    top: 77vh;
  }

}

.inputplaca {
  display: flex;
  width: 280px;
  height: 90%;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(0, 91, 180);
  border-radius: 10px;
  border: 1px solid rgb(160, 160, 160);
  line-height: 100px;
}
.inputplaca::placeholder {
  color:rgba(255, 255, 255, 0.534);
  font-size: 1.5rem;
  font-weight: bold;
}
#btnbuscarplaca{
  width: 280px;
}
