<div class="background">
  <div class="cont bg-blue-950">
    <img class="logo2" src="https://i.imgur.com/mvWjcxd.png" />
  </div>
  <div class="h-64 bg-gradient-to-b from-blue-950 to-transparent via-transparent">
    <!-- Encabezado -->
    <header class=" overflow-hidden text-center">

      <h1 class="text-white text-6xl font-bold ">
        Buscar Placa
      </h1>
    </header>
    <!-- Formulario de búsqueda -->
    <div class="flex justify-center items-center mt-8">
      <div class="placa">
        <div class="flex flex-row justify-start items-center">
          <div class="flex mr-10 ml-10">
            <div class=" bg-red-600 h-[15px] w-[15px]  "></div>
            <div class=" bg-white   h-[15px] w-[15px]"></div>
            <div class=" bg-red-600   h-[15px] w-[15px] "></div>
          </div>
          <p>Peru</p>
        </div>
        <input type="text" [(ngModel)]="placa" placeholder="Ingrese la placa" class="inputplaca" />
      </div>
      <button (click)="buscarPlaca()" class="bg-indigo-500 b hover:bg-indigo-800 text-white rounded-md px-6 py-2 ml-4">
        Buscar
      </button>

    </div>

    <!-- Modal -->
    <div *ngIf="showModal" class="modal">
      <div class="bg-white  p-6 rounded-lg shadow-lg w-2/3">
        <div>
          <div class="flex justify-between items-center">
            <h2 class="text-2xl font-bold text-indigo-500 mb-4">Información de la Placa</h2>
            <button (click)="toggleModal()" class="bg-indigo-500 hover:bg-indigo-800 text-white rounded-md px-2 py-1">
              X
            </button>
          </div>


          <div *ngIf="placaDatos; else noData">
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

              <div class="sm:col-span-3">
                <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Empresa de Transporte:</label>
                <span class="block bg-gray-100 text-gray-900 p-2 rounded-md w-full">
                  {{ placaDatos.nomEmpresaTransporte }}
                </span>
                <div class="mt-2">
                </div>
              </div>
              <div class="sm:col-span-3">
                <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Zona de Trabajo</label>
                <span class="block bg-gray-100 text-gray-900 p-2 rounded-md w-full">
                  {{ placaDatos.zonatrabajo }}
                </span>
                <div class="mt-2">
                </div>
              </div>
              <div class="sm:col-span-3">
                <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Placa</label>
                <span class="block bg-gray-100 text-gray-900 p-2 rounded-md w-full">
                  {{ placaDatos.placa }}
                </span>
                <div class="mt-2">
                </div>
              </div>
              <div class="sm:col-span-3">
                <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Conductor:</label>
                <span class="block bg-gray-100 text-gray-900 p-2 rounded-md w-full">
                  {{ placaDatos.conductor }}
                </span>
                <div class="mt-2">
                </div>
              </div>
              <div class="sm:col-span-3">
                <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Afiliado:</label>
                <span class=" font-bold block p-2 rounded-md w-full" [ngClass]="{
                  'bg-green-100 text-green-800': placaDatos.verAfiliado === 'AUTORIZADO',
                  'bg-red-100 text-red-800': placaDatos.verAfiliado === 'NO AUTORIZADO'
                }">
                  {{ placaDatos.verAfiliado }}
                </span>
                <div class="mt-2"></div>
              </div>

              <div class="sm:col-span-3">
                <label for="first-name" class="block text-sm/6 font-medium text-gray-900">fecha Creacion</label>
                <span class="block bg-gray-100 text-gray-900 p-2 rounded-md w-full">
                  {{ placaDatos.fechaCreacion | date }}
                </span>
                <div class="mt-2">
                </div>
              </div>

            </div>

          </div>
          <ng-template #noData>
            <p class="text-red-500">No se encontraron datos para la placa ingresada.</p>
          </ng-template>
          <button (click)="toggleModal()" class="bg-red-500 hover:bg-red-600 text-white rounded-md px-4 py-2 mt-4">
            Cerrar
          </button>
        </div>
      </div>
    </div>

    <img src="https://i.imgur.com/95efyw5.png" class="car">
    <img src="https://i.imgur.com/Sd9Nu4i.png" class="motorbike">

  </div>
